h1 {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

#input-container {
    text-align: center;
    margin: auto;
    width: 50%;
}

.search-container {
    margin: auto;
    width: 50%;
}

.form-input {
    margin: 10%;
    padding: 10px;
    border-radius: 10px;
}

.form-lable {
    margin: auto;
    width: 50%;
}

#button-container1 {
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
    padding-left: 17.5px;
}

#button-container2 {
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
}