h1 {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    text-align: center;
    margin: none;
    font-size: 20px;
}

.form-input {
    padding: 10px;
    border-radius: 4px;
}

#user-form {
    padding-bottom: 20px;
    padding-top: 20px;
    margin: auto;
}

#input-container {
    margin: auto;
    text-align: center;
}

.card {
    margin: none;
}

#search-box {
    margin: 20px;
}

#button-container, #search-history {
    align-items: center;
}

#button-container1 {
    padding-left: 85px;
}

#button-container2 {
    padding-left: 70px;
}

.btn {
    margin-top: 10px;
}

.btn:hover {
    background-color: rgb(42, 88, 109);
    color: rgb(255, 255, 255);
    box-shadow: 0 12px 16px 0 rgba(202, 202, 202, 0.24), 0 17px 50px 0 rgba(199, 199, 199, 0.19);
}

.city-name {
    font-style: bolder;
    font-size: 30px;
}

#five-day-container {
    border: 1px gray solid;
    border-radius: 4px;
}
.current {
    border: 1px gray solid;
    border-radius: 4px;
    margin-bottom: 20px;
}

.current-content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.flex {
    flex-wrap: wrap;
}

.day {
    font-size: 8px;
}

#day-1, #day-2, #day-3, #day-4, #day-5 {
    background-color: rgb(72, 72, 192);
    color: white;
    border: 1px solid white;
}

#spacer {
    margin-right: 30px;
}